# 10 - Classification and Regression Trees(CART)

**Classification and Regression Trees or CART for short is a term introduced by Leo Breiman to refer to Decision Tree algorithms that can be used for classification or regression predictive modeling problems.**

# Get Dataset

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("Hitters.csv")
data = df.copy()
# Clear null values
data = data.dropna()
print(data.isnull().values.any())
data.head()

False

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N
5,594,169,4,74,51,35,11,4408,1133,19,501,336,194,A,W,282,421,25,750.0,A

# Create Dummy Variable

In [3]:
dummies = pd.get_dummies(data[["League","Division","NewLeague"]])
dummies.head()

   League_A  League_N  Division_E  Division_W  NewLeague_A  NewLeague_N
1         0         1           0           1            0            1
2         1         0           0           1            1            0
3         0         1           1           0            0            1
4         0         1           1           0            0            1
5         1         0           0           1            1            0

In [4]:
y = data["Salary"]

X_pre = data.drop(["Salary","League","Division","NewLeague"],axis=1).astype("float64")
X = pd.concat([X_pre,dummies[["League_N","Division_W","NewLeague_N"]]],axis=1)
X.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,League_N,Division_W,NewLeague_N
1,315.0,81.0,7.0,24.0,38.0,39.0,14.0,3449.0,835.0,69.0,321.0,414.0,375.0,632.0,43.0,10.0,1,1,1
2,479.0,130.0,18.0,66.0,72.0,76.0,3.0,1624.0,457.0,63.0,224.0,266.0,263.0,880.0,82.0,14.0,0,1,0
3,496.0,141.0,20.0,65.0,78.0,37.0,11.0,5628.0,1575.0,225.0,828.0,838.0,354.0,200.0,11.0,3.0,1,0,1
4,321.0,87.0,10.0,39.0,42.0,30.0,2.0,396.0,101.0,12.0,48.0,46.0,33.0,805.0,40.0,4.0,1,0,1
5,594.0,169.0,4.0,74.0,51.0,35.0,11.0,4408.0,1133.0,19.0,501.0,336.0,194.0,282.0,421.0,25.0,0,1,0

# Split train and test

(210, 19)
(210,)
(53, 19)
(53,)

# Import model

In [6]:
from sklearn.tree import DecisionTreeRegressor

cart_model = DecisionTreeRegressor().fit(X_train,y_train)
cart_model

DecisionTreeRegressor()

In [14]:
from skompiler import skompile

print(skompile(cart_model.predict))

(if (x[11] <= 307.5) then (if (x[5] <= 0.5) then 2127.333 else (if (x[7] <= 1322.0) then (if (x[7] <= 100.0) then 920.0 else (if (x[8] <= 182.0) then (if (x[11] <= 72.5) then (if (x[0] <= 153.5) then 190.0 else (if (x[7] <= 341.5) then (if (x[18] <= 0.5) then (if (x[15] <= 6.0) then (if (x[12] <= 28.5) then 68.0 else 67.5) else 70.0) else (if (x[0] <= 244.0) then (if (x[14] <= 3.0) then 86.5 else 90.0) else 75.0)) else (if (x[16] <= 0.5) then (if (x[7] <= 511.5) then (if (x[12] <= 25.0) then (if (x[8] <= 110.5) then (if (x[6] <= 2.0) then 97.5 else 100.0) else 90.0) else (if (x[11] <= 41.0) then (if (x[4] <= 32.5) then 100.0 else 105.0) else (if (x[13] <= 294.0) then 110.0 else (if (x[3] <= 40.5) then 120.0 else 115.0)))) else (if (x[11] <= 35.5) then 87.5 else (if (x[4] <= 28.0) then 75.0 else 80.0))) else (if (x[13] <= 348.5) then (if (x[12] <= 37.5) then (if (x[11] <= 45.0) then (if (x[14] <= 164.0) then 125.0 else 130.0) else 110.0) else (if (x[9] <= 4.0) then 150.0 else 140.0)) else (if (x[6] <= 1.5) then 120.0 else (if (x[2] <= 4.0) then 100.0 else (if (x[2] <= 7.5) then 90.0 else 91.5))))))) else (if (x[9] <= 29.0) then (if (x[11] <= 88.0) then (if (x[13] <= 280.0) then 135.0 else 137.0) else (if (x[9] <= 23.0) then (if (x[1] <= 105.5) then 175.0 else 165.0) else (if (x[1] <= 107.0) then 155.0 else 145.0))) else (if (x[11] <= 98.5) then (if (x[10] <= 84.0) then 172.0 else 180.0) else 215.0))) else (if (x[0] <= 423.0) then (if (x[11] <= 128.5) then (if (x[13] <= 22.0) then 145.0 else (if (x[13] <= 250.0) then (if (x[12] <= 95.5) then (if (x[3] <= 25.0) then 286.667 else (if (x[11] <= 107.5) then (if (x[0] <= 225.5) then 247.5 else 250.0) else 275.0)) else (if (x[2] <= 4.5) then (if (x[10] <= 157.0) then 225.0 else 210.0) else (if (x[13] <= 176.5) then 190.0 else 191.0))) else (if (x[6] <= 4.5) then 300.0 else 305.0))) else (if (x[10] <= 112.5) then 415.0 else (if (x[11] <= 166.5) then (if (x[15] <= 12.5) then 300.0 else 297.5) else 350.0))) else (if (x[15] <= 22.5) then (if (x[7] <= 1011.5) then (if (x[0] <= 573.0) then (if (x[5] <= 39.5) then 185.0 else (if (x[13] <= 266.0) then 195.0 else (if (x[5] <= 59.0) then 202.5 else 200.0))) else (if (x[9] <= 36.0) then 210.0 else 215.0)) else (if (x[18] <= 0.5) then 175.0 else 160.0)) else (if (x[5] <= 37.5) then 155.0 else 105.0))))) else (if (x[5] <= 60.5) then (if (x[8] <= 877.0) then (if (x[11] <= 114.0) then (if (x[9] <= 8.5) then 700.0 else 708.333) else (if (x[8] <= 661.0) then (if (x[10] <= 217.0) then (if (x[0] <= 485.0) then (if (x[13] <= 227.5) then (if (x[13] <= 154.5) then (if (x[3] <= 27.0) then 425.0 else (if (x[10] <= 165.0) then 340.0 else (if (x[9] <= 11.5) then 375.0 else 362.5))) else (if (x[3] <= 41.0) then 240.0 else (if (x[9] <= 19.5) then 326.667 else 300.0))) else (if (x[11] <= 211.0) then (if (x[14] <= 26.0) then 550.0 else (if (x[6] <= 6.5) then 475.0 else 512.5)) else 385.0)) else (if (x[11] <= 153.5) then 350.0 else (if (x[15] <= 16.5) then (if (x[1] <= 181.5) then 200.0 else 250.0) else (if (x[8] <= 384.5) then 160.0 else 100.0)))) else (if (x[15] <= 8.0) then (if (x[18] <= 0.5) then (if (x[10] <= 273.5) then (if (x[15] <= 3.0) then 425.0 else 365.0) else (if (x[0] <= 220.5) then 275.0 else (if (x[15] <= 5.5) then 325.0 else 341.667))) else (if (x[5] <= 37.5) then (if (x[2] <= 10.0) then 525.0 else 490.0) else 630.0)) else (if (x[9] <= 57.0) then (if (x[11] <= 187.5) then 475.0 else (if (x[2] <= 14.5) then (if (x[12] <= 202.5) then 580.0 else 595.0) else 640.0)) else 780.0))) else (if (x[5] <= 44.5) then (if (x[12] <= 218.0) then 250.0 else 240.0) else 90.0))) else (if (x[4] <= 38.5) then 875.0 else 750.0)) else (if (x[4] <= 51.5) then (if (x[4] <= 31.5) then 875.0 else (if (x[4] <= 42.5) then 625.0 else (if (x[11] <= 200.0) then (if (x[10] <= 343.5) then 750.0 else 765.0) else 700.0))) else (if (x[5] <= 75.0) then (if (x[13] <= 317.5) then 575.0 else (if (x[3] <= 74.5) then 600.0 else 625.0)) else (if (x[12] <= 227.0) then 425.0 else 480.0)))))) else (if (x[5] <= 61.0) then (if (x[13] <= 1113.5) then (if (x[0] <= 362.0) then (if (x[13] <= 45.0) then 1050.0 else (if (x[6] <= 10.5) then (if (x[0] <= 335.0) then (if (x[0] <= 328.0) then (if (x[0] <= 227.5) then 900.0 else (if (x[10] <= 541.0) then (if (x[4] <= 43.5) then 737.5 else 750.0) else 800.0)) else 600.0) else (if (x[6] <= 9.5) then 560.0 else 100.0)) else (if (x[12] <= 1311.5) then (if (x[6] <= 15.5) then (if (x[9] <= 34.0) then 250.0 else (if (x[11] <= 483.5) then (if (x[5] <= 17.5) then (if (x[4] <= 34.0) then 400.0 else 416.667) else (if (x[10] <= 370.0) then 475.0 else (if (x[6] <= 13.5) then 450.0 else 430.0))) else (if (x[9] <= 105.5) then 600.0 else 450.0))) else (if (x[3] <= 15.5) then 500.0 else (if (x[3] <= 39.0) then (if (x[1] <= 52.5) then (if (x[2] <= 9.0) then 275.0 else 260.0) else (if (x[0] <= 283.5) then 235.0 else 200.0)) else (if (x[5] <= 35.5) then 320.0 else 400.0)))) else 750.0))) else (if (x[0] <= 585.0) then (if (x[1] <= 138.5) then (if (x[14] <= 24.0) then (if (x[15] <= 2.0) then (if (x[0] <= 422.0) then 600.0 else 587.5) else (if (x[8] <= 1700.5) then (if (x[1] <= 114.0) then 675.0 else 700.0) else (if (x[1] <= 114.5) then 733.333 else 773.333))) else (if (x[3] <= 59.5) then (if (x[12] <= 240.0) then 750.0 else (if (x[10] <= 931.0) then (if (x[13] <= 495.0) then 850.0 else 825.0) else 875.0)) else (if (x[0] <= 474.5) then 1260.0 else (if (x[12] <= 387.0) then 1008.333 else 850.0)))) else (if (x[1] <= 147.5) then (if (x[10] <= 356.0) then 277.5 else (if (x[6] <= 13.0) then 500.0 else 525.0)) else (if (x[5] <= 40.0) then (if (x[4] <= 73.0) then 1000.0 else 950.0) else (if (x[4] <= 76.5) then (if (x[8] <= 1070.5) then 530.0 else 517.143) else (if (x[8] <= 1291.5) then (if (x[15] <= 2.0) then 700.0 else (if (x[5] <= 50.0) then 662.5 else 657.0)) else 750.0))))) else (if (x[14] <= 152.0) then (if (x[3] <= 78.5) then (if (x[2] <= 17.5) then (if (x[14] <= 8.5) then 1000.0 else 1043.333) else 940.0) else (if (x[17] <= 0.5) then 1175.0 else 1200.0)) else (if (x[14] <= 433.0) then (if (x[9] <= 95.5) then 775.0 else 776.667) else 740.0)))) else (if (x[10] <= 743.5) then 1975.0 else 1450.0)) else (if (x[11] <= 1206.5) then (if (x[13] <= 838.5) then (if (x[1] <= 159.0) then (if (x[2] <= 1.0) then 1940.0 else (if (x[15] <= 10.5) then (if (x[1] <= 120.0) then 1300.0 else (if (x[10] <= 1158.0) then (if (x[1] <= 143.5) then (if (x[17] <= 0.5) then (if (x[2] <= 28.5) then (if (x[8] <= 1329.5) then 925.0 else 933.333) else 950.0) else 900.0) else (if (x[12] <= 320.0) then 815.0 else (if (x[13] <= 238.0) then 775.0 else 787.5))) else 535.0)) else (if (x[6] <= 9.5) then 535.0 else 420.0))) else (if (x[12] <= 365.0) then (if (x[12] <= 275.5) then 1237.5 else 1350.0) else (if (x[8] <= 1285.0) then (if (x[7] <= 3424.5) then 1600.0 else 1670.0) else 1900.0))) else (if (x[7] <= 4220.0) then (if (x[11] <= 420.0) then 1300.0 else 1310.0) else (if (x[11] <= 1007.0) then (if (x[15] <= 6.5) then 1800.0 else 1925.571) else 2460.0))) else (if (x[2] <= 22.0) then 2412.5 else 1861.46))))

# Model Tuning

In [19]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error

cart = DecisionTreeRegressor()
cart_params = {"min_samples_split":range(2,10),
              "max_leaf_nodes":range(2,10)}

cart_cv_model = GridSearchCV(cart,cart_params,cv=10)
cart_cv_model.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=DecisionTreeRegressor(),
             param_grid={'max_leaf_nodes': range(2, 10),
                         'min_samples_split': range(2, 10)})

In [20]:
cart_cv_model.best_params_

{'max_leaf_nodes': 5, 'min_samples_split': 3}

# Tuned Model

In [23]:
cart_tuned = DecisionTreeRegressor(max_leaf_nodes=5,min_samples_leaf=8).fit(X_train,y_train)

# Prediction with tuned model
y_pred_tuned = cart_tuned.predict(X_test)
mse_tuned = mean_squared_error(y_test,y_pred_tuned)
rmse_tuned = np.sqrt(mse_tuned)

print(f"MSE Tuned Loss = {mse_tuned}")
print(f"RMSE Tuned Loss = {rmse_tuned}")

MSE Tuned Loss = 60821.80906524021
RMSE Tuned Loss = 246.620779873149